---
import AstroPageFrame from '@astrojs/starlight/components/PageFrame.astro'
import type { Props } from '@astrojs/starlight/props'

import Footer from '../../components/Footer.svelte'

const isMain = Astro.props.entry.data.main
---

{
  isMain ? (
    <div>
      <slot />

      <Footer />
    </div>
  ) : (
    <AstroPageFrame {...Astro.props}>
      <slot />
      <Fragment slot="header">
        <slot name="header" />
      </Fragment>
      <Fragment slot="sidebar">
        <slot name="sidebar" />
      </Fragment>
    </AstroPageFrame>
  )
}
