* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  padding: 0.5em;
}

main, header {
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  font-size: 100%;
}

main p,
main h2 {
  padding: 0.5em 1em;
}

main img {
  width: calc(100% + 8em);
  margin-left: -4em;
}

@media (max-width: 640px) {
  main img {
	width: 100%;
	margin-left: 0;
  }
}

.important {
  background-color: rgb(96, 255, 181);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 34%);
}

a, a:visited {
  color: black;
}

img.logo {
  width: 100px;
  padding: 2em;
  box-sizing: content-box;
}

dl {
  margin-left: 1em;
}

dt {
  font-style: italic;
}

dd {
  display: block;
  padding: 0.5em;
  margin-left: 1em;
}