<script lang="ts">
  import { onMount } from 'svelte'

  const baseUrl = 'https://pub-073597ae464e4b54b70bb56886a2ccb6.r2.dev'

  const files = [
    {
      filename: 'annotations.json',
      size: 0
    },
    {
      filename: 'maps.json',
      size: 0
    },
    {
      filename:'maps.ndjson',
      size: 0
    },
    {
      filename:'maps.geojson',
      size: 0
    }
  ]

  onMount(() => {
    files.forEach((file, index) => {
      const url = `https://pub-073597ae464e4b54b70bb56886a2ccb6.r2.dev/${file.filename}`
      fetch(url, {method: 'HEAD'})
        .then((response) => {
          if (response.ok) {
            const contentLength = response.headers.get('Content-Length')
            files[index].size = Number(contentLength)
          }
        })
    })
  })

  function formatSize(size: number) {
    return size ? `${Math.round(size / 1024 / 1024)} MB` : ''
  }
</script>

The following files contain the metadata of <strong>all maps georeferenced with Allmaps</strong>, in four different formats:

| File                                           | Type                                                              | Size                        |
|:-----------------------------------------------|:------------------------------------------------------------------|----------------------------:|
| [`annotations.json`]({baseUrl}/annotations.json) | [Georeference Annotations](https://iiif.io/api/extension/georef/) | {formatSize(files[0].size)} |
| [`maps.json`]({baseUrl}/maps.json)               | JSON                                                              | {formatSize(files[1].size)} |
| [`maps.ndjson`]({baseUrl}/maps.ndjson)           | Newline-delimited JSON                                            | {formatSize(files[2].size)} |
| [`maps.geojson`]({baseUrl}/maps.geojson)         | GeoJSON                                                           | {formatSize(files[3].size)} |

The files above are updated twice per day. The data is licensed under [CC0](https://creativecommons.org/public-domain/cc0/).
